html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map,#pano {
  color: red
}

#pano {
  filter: invert(1)
}

.container {
  margin-top: 3rem;
}

#textHeader {
  margin-bottom: 2rem;
}

#btn_update {
    visibility: hidden;
}

.btn {
  margin-bottom: 1rem;
}
